@import "variables"
@import "fonts"
.container
  width: 1110px
  margin: 0 auto
.navigation-menu .container
  display: flex
  align-items: center
  justify-content: center
  text-transform: capitalize
  height: 50px
.navigation-menu
  background-color: $gray-color
  &__list
    display: flex
    &__item
      font-family: 'Roboto'
      font-style: normal
      font-weight: 400
      font-size: 14px
      line-height: 16px
      margin-right: 30px
      &--caps
        text-transform: uppercase
      &:last-child
        margin-right: 0
.company-info
  padding: 20px 0
  border-bottom: 1px solid $gray-color
.company-info .container
  display: flex
  align-items: center
  justify-content: space-between
.company-info .container .wrapper
  display: flex
  align-items: center
.company-info
  &__company-name
    font-family: 'Roboto'
    font-style: normal
    font-weight: 700
    font-size: 36px
    line-height: 42px
    letter-spacing: 0.1em
    color: $accent-color
    text-transform: uppercase
  &__image
    margin-right: 20px
  &__phone
    font-family: 'Roboto'
    font-style: normal
    font-weight: 400
    font-size: 16px
    line-height: 19px
    margin-right: 40px
  &__phone-btn
    text-align: center
    padding: 12px 26px
    width: 117px
    border: 2px solid $accent-color
    border-radius: 40px
    color: black
    text-decoration: none
    font-family: 'Roboto'
    font-style: normal
    font-weight: 400
    font-size: 14px
    line-height: 16px
.services
  &__list
    display: flex
    justify-content: center
    text-transform: capitalize
    padding: 30px 0
    &__item
      margin-right: 40px
      font-family: 'Roboto'
      font-style: normal
      font-weight: 400
      font-size: 16px
      line-height: 19px
.hero
  background: url("../images/Rectangle 2.png"),
  height: 604px
  .container
    display: flex
    flex-direction: column
    padding: 192px 0
  &__header
    font-family: 'Roboto'
    font-style: normal
    font-weight: 700
    font-size: 48px
    line-height: 56px
    color: $white-color
  &__text
    margin-top: 50px
    width: 308px
    font-family: 'Roboto'
    font-style: normal
    font-weight: 400
    font-size: 14px
    line-height: 20px
    color: $white-color
  &__more-btn
    margin-top: 25px
    padding: 12px 26px
    width: 117px
    border: 2px solid $white-color
    border-radius: 40px
    color: $white-color
    text-decoration: none
    font-family: 'Roboto'
    font-style: normal
    text-align: center
    font-weight: 400
    font-size: 14px
    line-height: 16px
    letter-spacing: 0.05em
.big-wrapper
  background: $gray-color
  padding: 80px 0
.item-cards
  &__name
    font-family: 'Roboto'
    font-style: normal
    font-weight: 700
    font-size: 24px
    line-height: 28px
    margin-bottom: 38px
  &__list
    display: flex
    justify-content: space-between
    &__item
      width: 256px
      background: $white-color
      margin-right: 30px
      padding: 25px 30px
      display: flex
      flex-direction: column
      justify-content: center
      align-items: center
      &:last-child
        margin-right: 0px
      &__img
        width: 126px
        margin-bottom: 20px
      &__item-info
        font-family: 'Roboto'
        font-style: normal
        font-weight: 400
        font-size: 14px
        line-height: 20px
        text-align: center
        margin-bottom: 20px
      &__price
        font-family: 'Roboto'
        font-style: normal
        font-weight: 500
        font-size: 21px
        line-height: 25px
        text-align: center
        letter-spacing: 0.05em
        margin-bottom: 20px
      &__buy-btn
        padding: 12px 26px
        width: 117px
        border: 2px solid $accent-color
        background-color: $accent-color
        border-radius: 40px
        color: $white-color
        text-decoration: none
        font-family: 'Roboto'
        font-style: normal
        text-align: center
        font-weight: 400
        font-size: 14px
        line-height: 16px
        letter-spacing: 0.05em
.promo-cards
  margin-top: 100px
  &__list
    display: flex
    justify-content: space-between
    align-items: center
    &__item
      display: flex
      justify-content: space-between
      padding: 35px 45px 35px 40px
      background: $accent-color
      height: 142px
      width: 456px
      .wrapper
        display: flex
        flex-direction: column
      &__heading
        color: $white-color
        font-family: 'Roboto'
        font-style: normal
        font-weight: 700
        font-size: 18px
        line-height: 21px
        margin-bottom: 25px
      &__paragraph
        color: $white-color
        font-family: 'Roboto'
        font-style: normal
        font-weight: 400
        font-size: 14px
        line-height: 20px
        margin-bottom: 25px
      &__email-box
        padding: 10px 94px 10px 26px
        border-radius: 30px
        border: 2px solid transparent
        color: black
        font-family: 'Roboto'
        font-style: normal
        font-weight: 400
        font-size: 14px
        line-height: 16px
        &:placeholder
          color: $gray-color
          opacity: 1
      &__store-map-btn
        padding: 12px 26px
        width: 117px
        background-color: $accent-color
        border: 2px solid $white-color
        border-radius: 30px
        color: $white-color
        text-decoration: none
        font-family: 'Roboto'
        font-style: normal
        text-align: center
        font-weight: 400
        font-size: 14px
        line-height: 16px
        letter-spacing: 0.05em
      &__truck
        width: 190px
      &__envelope
        width: 140px
.many-logos
  margin-top: 100px
  margin-bottom: 80px
  display: flex
  align-items: center
  justify-content: center
  .container
    display: flex
    flex-wrap: wrap
    align-items: center
    justify-content: center
  &__logo
    background-color: $white-color
    display: flex
    padding: 36px 63.5px
    margin-right: 1px
    margin-bottom: 1px
    align-items: center
    justify-content: center
    &:nth-child(4n)
      margin-right: 0
    &:nth-child(n+9)
      margin-bottom: 0
.bottom-menu
  padding: 60px 0
  border: 1px solid $gray-color
  .container
    display: flex
    align-items: center
    justify-content: center
  &__list
    display: flex
    &__item
      width: 256px
      margin-right: 30px
      &__name
        padding-bottom: 30px
        margin-bottom: 25px
        border-bottom: 1px solid $gray-color
        font-family: 'Roboto'
        font-style: normal
        font-weight: 500
        font-size: 16px
        line-height: 140.62%
        color: #000000
        span
          width: 100
      &__categories
        font-family: 'Roboto'
        font-style: normal
        font-weight: 400
        font-size: 12px
        line-height: 28px
        color: $dark-gray-color
.social
  padding: 40px 0
  .container
    display: flex
    justify-content: space-between
    .wrapper
      display: flex
      align-items: center
  &__img
    margin-right: 20px
    overflow: visible
    &:last-child
      margin-right: 0
    &--bordered
      padding: 9px
      border-radius: 50%
      border: 2px solid $accent-color
  &__phone
    font-family: 'Roboto'
    font-style: normal
    font-weight: 400
    font-size: 16px
    line-height: 19px
    margin-right: 40px
  &__phone-btn
    text-align: center
    padding: 12px 26px
    width: 117px
    border: 2px solid $accent-color
    border-radius: 40px
    color: black
    text-decoration: none
    font-family: 'Roboto'
    font-style: normal
    font-weight: 400
    font-size: 14px
    line-height: 16px
.legal
  background: $gray-color
  .container
    padding: 25px 0
  &__line
    font-family: 'Roboto'
    font-style: normal
    font-weight: 400
    font-size: 12px
    line-height: 14px
    color: $dark-gray-color
    display: flex
    justify-content: space-between
    &__company
    &__warning
