.footer {
  background-color: $color-grey-bg;
  &__wrapper {
    padding: 30px 60px;
    &__address {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      &__list {
        &__item {
          display: flex;
          align-items: center;
          &__text {
            display: flex;
            align-items: center;
            @include link;
            color: $color-main-regular;
            @include mini-dot-after;
          }
          &__link {
            text-decoration: none;
            @include text-h3-caps;
            color: $color-activate-regular;
          }
        }
      }
      &__legal {
        @include link;
        color: $color-grey-text;
      }
    }
    &__contact-info {
      margin-top: 20px;
      &__list {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        &__item {
          display: flex;
          align-items: center;
          @include mini-dot-after;
          &:last-child {
            margin-right: 0;
            &::after {
              display: none;
              content: "";
            }
          }
          &__logo {
            width: 38px;
            height: 38px;
          }
          &__phone {
            @include text-h4;
            text-decoration: none;
          }
          &__email {
            @include text-h4;
            color: $color-activate-regular;
            text-decoration: none;
          }
        }
      }
    }
  }
}
@include media($breakpoint-d-hd) {
}
@include media($breakpoint-d-sd) {
}
@include media($breakpoint-t-hd) {
}
@include media($breakpoint-t-sd) {
  .footer__wrapper__contact-info__list__item__logo {
    margin-top: 10px;
  }
  .footer__wrapper {
    display: flex;
    flex-direction: column-reverse;
    &__address {
      margin-top: 10px;
      flex-direction: column;
      align-items: center;
      &__legal {
        margin-top: 30px;
      }
      &__list__item {
        flex-direction: column;
        align-items: center;
        &__text {
          &::after {
            display: none;
          }
        }
      }
    }
    &__contact-info {
      &__list {
        flex-direction: column;
        &__item {
          margin-top: 10px;
          &::after {
            display: none;
          }
        }
      }
    }
  }
}
@include media($breakpoint-m) {
}
