@mixin font-face($family, $src, $style, $weight) {
  @font-face {
    font-family: $family;
    src: url($src);
    font-style: $style;
    font-weight: $weight;
  }
}
@mixin text-header-footer {
  /* Header / Footer */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 96px;
  line-height: 117px;
  color: $color-header-footer;
}
@mixin text-hero {
  /* Hero / Regular */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  line-height: 46px;
}
@mixin text-hero-gradient {
  @include text-hero;
  background: $background-gradient-redtext;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@mixin text-h2 {
  /* H2 / Regular */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
  color: $color-main-regular;
}
@mixin text-h3 {
  /* H3 / Regular */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: $color-main-regular;
}
@mixin text-h3-caps {
  /* H3 / Caps */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: $color-main-regular;
  /* identical to box height */
  letter-spacing: 1px;
  text-transform: uppercase;
}
@mixin text-h4 {
  /* H4 / Regular */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: $color-main-regular;
}
@mixin text-contact {
  font-weight: 400;
  font-size: 21px;
  line-height: 30px;
  color: $color-main-regular;
}
@mixin text-paragraph-regular {
  /* Paragraph/Regular */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: $color-black;
}
@mixin text-paragraph-small {
  /* Paragraph / Small */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: $color-black;
}
@mixin text-list {
  /* List */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: $color-black;
}
@mixin text-list-decoration-number {
  /* List / Decoration */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: right;
  color: $color-accent;
}
@mixin link {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}
@mixin link-regular {
  @include link;
  color: $color-activate-regular;
}
@mixin link-hover {
  @include link;
  color: $color-accent;
}
@mixin mini-link {
  text-decoration: none;
  @include text-h3-caps;
  color: $color-activate-regular;
  &:hover {
    color: $color-accent;
    &::after {
      display: inline-block;
      content: url("data:image/svg+xml,%3Csvg width='8' height='11' viewBox='0 0 8 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.5 1L6 5.5L1.5 10' stroke='%2324A3FF' stroke-width='2'/%3E%3C/svg%3E%0A");
      margin-left: 5.5px;
      filter: brightness(0) saturate(100%) invert(16%) sepia(98%) saturate(5516%) hue-rotate(334deg) brightness(98%)
        contrast(91%);
    }
  }
  &::after {
    display: inline-block;
    content: url("data:image/svg+xml,%3Csvg width='8' height='11' viewBox='0 0 8 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.5 1L6 5.5L1.5 10' stroke='%2324A3FF' stroke-width='2'/%3E%3C/svg%3E%0A");
    margin-left: 5.5px;
  }
}
@mixin blue-circle {
  background: $color-activate-regular;
  width: 16px;
  height: 16px;
  border-radius: 50%;
}
@mixin mini-dot-after {
  &::after {
    display: block;
    content: "";
    width: 6px;
    height: 6px;
    margin: 0 10px;
    background-color: $color-grey-text;
    border-radius: 50%;
  }
}
