// Colors
$color-header-footer: #4b28de;
$color-main-regular: #323264;
$color-main-alt: #46466e;
$color-main-soft: #686887;
$color-accent: #f0145a;
$color-activate-regular: #24a3ff;
$color-activate-hover: #0085ff;
$color-activate-active: #006ccf;
$color-grey-bg: #f5f5fa;
$color-grey-bgalt: #f5f5fa;
$color-grey-text: #f5f5fa;
$color-grey-separator: #f5f5fa;
$color-black: #000000;
// Gradient
$background-gradient-regular: linear-gradient(128.63deg, #323264 0%, #323264 73.96%, #a54b5f 100%);
$background-gradient-soft: linear-gradient(42.01deg, #323264 14.33%, #323264 51.39%, #7a425e 87.53%);
$background-gradient-red: linear-gradient(323.35deg, #f0145a 6.7%, #693264 70.36%);
$background-gradient-supersoft: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643e72 87.46%);
$background-gradient-redtext: linear-gradient(90.13deg, #f0145a 0.84%, #ef8080 99.96%);
