/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

.container {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
}

.footer {
  background-color: #f5f5fa;
}
.footer__wrapper {
  padding: 30px 60px;
}
.footer__wrapper__address {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.footer__wrapper__address__list__item {
  display: flex;
  align-items: center;
}
.footer__wrapper__address__list__item__text {
  display: flex;
  align-items: center;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #323264;
}
.footer__wrapper__address__list__item__text::after {
  display: block;
  content: "";
  width: 6px;
  height: 6px;
  margin: 0 10px;
  background-color: #b3b3ba;
  border-radius: 50%;
}
.footer__wrapper__address__list__item__link {
  text-decoration: none;
  /* H3 / Caps */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #323264;
  /* identical to box height */
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #24a3ff;
}
.footer__wrapper__address__legal {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #b3b3ba;
}
.footer__wrapper__contact-info {
  margin-top: 20px;
}
.footer__wrapper__contact-info__list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.footer__wrapper__contact-info__list__item {
  display: flex;
  align-items: center;
}
.footer__wrapper__contact-info__list__item::after {
  display: block;
  content: "";
  width: 6px;
  height: 6px;
  margin: 0 10px;
  background-color: #b3b3ba;
  border-radius: 50%;
}
.footer__wrapper__contact-info__list__item:last-child {
  margin-right: 0;
}
.footer__wrapper__contact-info__list__item:last-child::after {
  display: none;
  content: "";
}
.footer__wrapper__contact-info__list__item__logo {
  width: 38px;
  height: 38px;
}
.footer__wrapper__contact-info__list__item__phone {
  /* H4 / Regular */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #323264;
  text-decoration: none;
}
.footer__wrapper__contact-info__list__item__email {
  /* H4 / Regular */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #323264;
  color: #24a3ff;
  text-decoration: none;
}

@media (max-width: 768px) {
  .footer__wrapper__contact-info__list__item__logo {
    margin-top: 10px;
  }
  .footer__wrapper {
    display: flex;
    flex-direction: column-reverse;
  }
  .footer__wrapper__address {
    margin-top: 10px;
    flex-direction: column;
    align-items: center;
  }
  .footer__wrapper__address__legal {
    margin-top: 30px;
  }
  .footer__wrapper__address__list__item {
    flex-direction: column;
    align-items: center;
  }
  .footer__wrapper__address__list__item__text::after {
    display: none;
  }
  .footer__wrapper__contact-info__list {
    flex-direction: column;
  }
  .footer__wrapper__contact-info__list__item {
    margin-top: 10px;
  }
  .footer__wrapper__contact-info__list__item::after {
    display: none;
  }
}
@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat/static/Montserrat-Regular.ttf");
  font-style: "normal";
  font-weight: 400;
}
@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat/static/Montserrat-Bold.ttf");
  font-style: "normal";
  font-weight: 700;
}
body {
  font-family: "Montserrat";
}

.header {
  z-index: 100;
  top: 50px;
  position: absolute;
  width: 100%;
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
  padding: 0 60px;
}
.header__wrapper__logo {
  width: 298px;
  height: 60px;
}
.header__wrapper__wrapper__info {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.header__wrapper__wrapper__info > * {
  display: flex;
  align-items: center;
}
.header__wrapper__wrapper__info > *::after {
  display: block;
  content: "";
  width: 6px;
  height: 6px;
  margin: 0 10px;
  background-color: #b3b3ba;
  border-radius: 50%;
}
.header__wrapper__wrapper__info > *:last-child {
  margin-right: 0;
}
.header__wrapper__wrapper__info > *:last-child::after {
  display: none;
  content: "";
}
.header__wrapper__wrapper__info__languages__list {
  display: flex;
}
.header__wrapper__wrapper__info__languages__list__item {
  padding: 5px 8px;
}
.header__wrapper__wrapper__info__languages__list__item:hover {
  background-color: #f0145a;
  border-radius: 8px;
}
.header__wrapper__wrapper__info__languages__list__item:hover .header__wrapper__wrapper__info__languages__list__item__link {
  color: #ffffff;
}
.header__wrapper__wrapper__info__languages__list__item__link {
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 1px;
  text-decoration: none;
  color: #b3b3ba;
}
.header__wrapper__wrapper__info__address__text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: right;
  color: #b3b3ba;
}
.header__wrapper__wrapper__info__phone__text {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: right;
  color: #b3b3ba;
}
.header__wrapper__wrapper__info__facebook-logo {
  align-items: center;
  width: 24px;
  height: 24px;
}
.header__wrapper__wrapper__info__facebook-logo__image {
  width: 24px;
  height: 24px;
}
.header__wrapper__wrapper__navigation {
  margin-top: 18px;
}
.header__wrapper__wrapper__navigation__menu {
  display: flex;
  justify-content: flex-end;
}
.header__wrapper__wrapper__navigation__menu__item {
  margin-right: 15px;
}
.header__wrapper__wrapper__navigation__menu__item:last-child {
  margin-right: 0;
}
.header__wrapper__wrapper__navigation__menu__item__link {
  text-decoration: none;
  /* H4 / Regular */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #323264;
  color: #24a3ff;
}
.header__wrapper__wrapper__navigation__menu__item__link:hover {
  color: #f0145a;
  padding-bottom: 3px;
  border-bottom: 2px solid #f0145a;
}

.contact {
  margin-top: 112px;
}
.contact__wrapper {
  display: flex;
  justify-content: center;
  padding: 60px;
}
.contact__wrapper__address {
  width: 40%;
  margin-right: 60px;
}
.contact__wrapper__address__text {
  font-weight: 400;
  font-size: 21px;
  line-height: 30px;
  color: #323264;
  padding-bottom: 30px;
  border-bottom: 4px solid #e6e6f0;
}
.contact__wrapper__address__send-meassage {
  margin-top: 30px;
  padding-bottom: 30px;
  border-bottom: 4px solid #e6e6f0;
}
.contact__wrapper__address__send-meassage__email {
  font-weight: 400;
  font-size: 21px;
  line-height: 30px;
  color: #323264;
}
.contact__wrapper__address__send-meassage__phone {
  font-weight: 400;
  font-size: 21px;
  line-height: 30px;
  color: #323264;
  color: #24a3ff;
}
.contact__wrapper__address__social {
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
}
.contact__wrapper__address__social:hover {
  filter: brightness(0) saturate(100%) invert(16%) sepia(98%) saturate(5516%) hue-rotate(334deg) brightness(98%) contrast(91%);
}
.contact__wrapper__address__social__logo {
  width: 38px;
  height: 38px;
  margin-right: 10px;
}
.contact__wrapper__address__social__text {
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #24a3ff;
}
.contact__wrapper__form {
  padding: 30px;
  background: #f5f5fa;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  width: 40%;
}
.contact__wrapper__form__title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
  background: linear-gradient(90.13deg, #f0145a 0.84%, #ef8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.contact__wrapper__form__input {
  box-sizing: border-box;
  background: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 8px;
  margin-bottom: 15px;
  height: 56px;
  padding-left: 15px;
}
.contact__wrapper__form__input::-moz-placeholder {
  /* Paragraph/Regular */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #000000;
  color: #b3b3ba;
}
.contact__wrapper__form__input::placeholder {
  /* Paragraph/Regular */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #000000;
  color: #b3b3ba;
}
.contact__wrapper__form__input:focus {
  outline: none;
  border: 1px solid #24a3ff;
}
.contact__wrapper__form__input:nth-child(3) {
  padding-top: 15px;
  height: 130px;
  resize: none;
}
.contact__wrapper__form__label {
  margin: 15px 0;
  /* H3 / Caps */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #323264;
  /* identical to box height */
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #b3b3ba;
}
.contact__wrapper__form__sendBtn {
  border: none;
  height: 56px;
  margin: 15px 0;
  background: #24a3ff;
  box-shadow: 0px 0px 20px rgba(36, 163, 255, 0.5);
  border-radius: 12px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}
.contact__wrapper__form__sendBtn:hover {
  background: #0085ff;
}

@media (max-width: 768px) {
  .header__wrapper {
    flex-direction: column-reverse;
    align-items: flex-start;
  }
  .header__wrapper__logo {
    margin-top: 35px;
  }
  .header__wrapper__wrapper__navigation {
    display: flex;
    justify-content: flex-start;
  }
  .contact {
    margin-top: 185px;
  }
  .contact__wrapper {
    flex-direction: column;
  }
  .contact__wrapper > * {
    width: 90%;
  }
  .contact__wrapper .contact__wrapper__form {
    margin-top: 30px;
  }
}/*# sourceMappingURL=contact.css.map */